/* GENERAL */

body{
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5{
  font-weight: bold;
  overflow-wrap: break-word;
}

p{
  overflow-wrap: break-word;
}
p:hover{
  text
  color: #065535;
}

ul,ol{
  list-style: none;
}

img{
  max-width: 25%;
  height: auto;
}

section{
  padding: 45px 0 80px 0;
}

section .heading{
  text-align: center;
  padding-bottom: 40px;
}
.green-devider{
  width: 100px;
  height: 2px;
  background: #065535;
  margin: 0px auto 25px auto;
}

section .heading h2{
  text-transform: uppercase;
}

.white-devider{
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0px auto 25px auto;
}

/* NAVBAR */
.navbar{
  background: rgba(0, 0, 0, 0.7);
  letter-spacing: 4px;
}

.navbar li a:hover{
  font-size: 20px;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{

    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.nav{
  background: rgba(0, 0, 0, 0.7);
}



/* ABOUT */

#about{
  background: rgba(0,0,0,0.5);
}


.background{
  background: url(../images/background.jpg);
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture{
  text-align: center;
  margin: 0 auto;
  float: none;
}

#about .heading h1{
  color: #ddd;
}

.button1{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid white;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  display: inline-block;
  transition: all 0.3s ease-in 0s;
}

.button1:hover{
  background: #fff;
  color: #065535;
  text-decoration: none;
}




/* SKILLS */

#skills{
  background: #fff;
}

#skills .heading h2{
  color: #065535;
}

#skills .progress{
  height: 20%;
  margin: 30px 20px;
  background: #ddd;
}

#skills .progress-bar{
  background: #065535;
}

#skills .progress h5{
  text-shadow: 1px 1px 1px #000;
}

/* experiences */

#experiences{
    background: rgba(0,0,0,0.5);
}

.bg-experiences{
  background: url(../images/bg-experience.jpg);
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#experiences .heading h2{
  color: #fff;
}

.timeline{
  padding: 30px 10px;
  position: relative;
}

.timeline:before{
  top:0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background: #333;
  left: 50%;
  margin-left: -2.5px;
}

.timeline > li{
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:after{
  clear: both;
}

.timeline > li:after,.timeline > li:before{
  content: " ";
  display: table;
}

.timeline > li .timeline-badge{
  color: #065535;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ddd;
  border-radius: 50%;
}

.timeline-panel-container{
  width: 50%;
  float: left;
}
.timeline-panel-container-inverted{
  width: 50%;
  float: right;
}

.timeline-panel{
  width: 90%;
  float: right;
  margin-right: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  background: #fff;
}

.timeline-panel-container-inverted .timeline-panel{
  width: 90%;
  float: left;
  margin-left: 40px;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0,0.175);
  background: #fff;
}
.timeline-panel:after{
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0px solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
  border-left-width: 0;
  border-right-width: 14px;
  left:-14px;
  right: auto;
}

.timeline-heading h3{
  margin-top: 5px;
  font-size: 20px;
}

.timeline-heading h4{
  color: #065535;
}

/* Education */

#education{
  background: #fff;
}

#education heading h2{
  color: #065535;
}

.education-block{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background: #ddd;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 20px;
}

.education-block h5{
  color: #888;
  font-size: 15px;
  margin-bottom: 15px;
}
.education-block i{
  font-size: 40px;
}
.education-block h3{
  color: #065535;
}
.education-block h4{
  margin-bottom: 20px;
}
.education-block p{
  font-weight: bold;
}


/* portfolio */

#portfolio{
  background: rgba(0, 0, 0, 0.5);
}
.bg-portfolio{
  background: url(../images/bg-portfolio.jpg);
   height: 100%;
   width: 100%;
   /* Center and scale the image nicely */
  background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#portfolio .heading h2{
  color: #fff;
}

#portfolio img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
#portfolio img:hover{
  filter: none;
  -webkit-filter : none;
}
#portfolio .col-md-4{
    margin-bottom: 20px;
}

footer{
  background:#fff;
}

.fa-chevron-up{
margin-top: 10px;
font-size: 25px;
height: 35px;
color: rgb(6, 85, 53);
}

.fa-chevron-up:hover{
font-size: 30px;
}











/*  */
